:host {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  margin-top: 80px;
}

mat-card-title {
  padding: 20px !important;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.button {
  display: flex;
  justify-content: flex-end;
}
