<mat-card>
  <mat-card-title>
    Login - LuckyDraw
  </mat-card-title>
  <mat-card-content>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" autocomplete="off" novalidate>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input autofocus type="text" matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="f.username.errors">Username is required</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="f.password.errors">Username is required</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
